<h1>Contact Us!</h1>
<span>Location: 641 Welsh Road, Maple Glen, PA 19002</span> <br>
<a href="https://www.google.com/maps/place/Maple+Glen+Pizza/@40.1795771,-75.1843889,17z/data=!3m1!4b1!4m6!3m5!1s0x89c6a53f10687a0f:0x806b99f45906be3d!8m2!3d40.179573!4d-75.181814!16s%2Fg%2F1tfyfjbx?entry=ttu">
     Get Directions
</a><br>

<div id="numbers"> 
    <span>Phone:</span> <a href="tel:+2155427720">(215) 542-7720</a><br>
    <span>Fax:</span> <a href="fax:+2156284346">(215) 628-4346</a> <br>
</div>

<div id="hoursOfOperation">
    <span>Hours</span> <br>
    Monday - Thursday: 10am - 10pm <br>
    Friday & Saturday: 10am - 11pm <br>
    Sunday: 11am - 9pm
</div>

<style>
    span{
        font-weight: bold;
        font-size: 20px;
    }
    #hoursOfOperation, #numbers{
        margin-top: 1rem;
    }
</style>